.division-gray-2px{width:100%;height:2px;background-color:#CCC;margin:20px 0;}
.clear{clear:both;}
/*a:link{color:#093BFC;}
a:active{color:#63F;}*/
ul,ol{
    padding-left:0; 
    list-style-type:none;
}