<div id="plugin-go517-popup">
      <div class="go517-popup-usermessage">
          <div class="go517-popup-usermessage-left">
              <img src="img/pic/img8.png"><br>
              <span>未登录</span>
          </div>
          
          <div class="go517-popup-usermessage-right">
              <div class="go517-popup-usermessage-right-load">
                  <a href="http://www.jipucoffee.com/login.html" target="_blank"><input type="button" value="登陆go517账户"></a>
              </div>
              <div class="go517-popup-usermessage-right-account">
                  <ul>
                      <li><span>我的账户</span></li>
                      <li><img src="img/pic/img13.png"></li>
                      <li><span>我的积分</span></li>
                      <li><img src="img/pic/img13.png"></li>
                      <li><a href=""><span>分享邀请</span></a></li>
                  </ul>
              </div>   
          </div>
      </div>
      <div class="clear"></div>
      
      <div class="division"></div>  
      
      <div class="go517-popup-content">
          <div class="go517-popup-content-title">
              <ul>
                  <li class="active"><span>功能</span></li>
                  <li><span>使用</span></li>
                  <li><span>其他</span></li>
              </ul>   
          </div>
          <div class="go517-popup-content-detail">
              <p>新华社天津7月4日电 2016年7月4日，天津市第一中级人民法院依法对中国人民政治协商会议第十二届全国委员会原副主席、中共中央统战部原部长令计划受贿、非法获取国家秘密、滥用职权案进行了一审宣判，认定令计划犯受贿罪，判处无期徒刑，剥夺政治权利终身，并处没收个人全部财产；犯非法获取国家秘密罪，判处有期徒刑五年；犯滥用职权罪，判处有期徒刑四年，决定执行无期徒刑。
     新华社天津7月4日电 2016年7月4日，天津市第一中级人民法院依法对中国人民政治协商会议第十二届全国委员会原副主席、中共中央统战部原。</p>
          </div>
      </div>   
  </div>